{% extends "base.html" %}
{% block title %}Authors &mdash; {{ SITENAME }}{% endblock %}
{% block content %}
<div class="list-header">
    <span class="list-label">The Author</span>
    <h1 class="list-title">Authors</h1>
</div>
<div class="chapter-list">
    {% for author, articles in authors %}
    <div class="chapter-entry">
        <div class="entry-date">{{ articles|length }}<br><span style="font-size:0.7rem;">pieces</span></div>
        <div class="entry-body">
            <h2 class="chapter-title"><a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a></h2>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
